@media only screen and (min-width: 901px) {
  .encabezado {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(68%, transparent), to(rgba(0, 0, 0, 0.4)));
    background-image: linear-gradient(transparent 68%, rgba(0, 0, 0, 0.4));
    position: relative;
    z-index: 20;
  }
  .encabezado .header__logo {
    width: 6%;
    height: auto;
    position: relative;
    margin: 0% 0% 0% 2%;
  }
  .encabezado .header__nav--titleStyle {
    font-size: 1.7rem;
    letter-spacing: 3px;
    margin-left: 4rem;
  }
  .encabezado .header__nav--titleStyleB {
    display: none;
  }
  .encabezado a.header__nav--listStyle {
    font-size: 1.3rem;
    letter-spacing: 3px;
    margin-left: 10rem;
  }
  .encabezado a.header__nav--listStyle ul li:hover {
    color: #f8f9fa;
    background-color: #5b5b5b;
    -webkit-transition: color, 1s;
    transition: color, 1s;
  }
}

@media only screen and (max-width: 900px) and (min-width: 601px) {
  .encabezado div.container-fluid {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 0%;
  }
  .encabezado div.container-fluid .header__logo {
    width: 8%;
    height: auto;
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .encabezado div.container-fluid a.header__nav--titleStyle {
    font-size: 1.7rem;
    letter-spacing: 3px;
    margin-left: 0rem;
    -ms-flex-item-align: left;
        -ms-grid-row-align: left;
        align-self: left;
  }
  .encabezado div.container-fluid a.header__nav--titleStyleB {
    display: none;
  }
}

@media only screen and (max-width: 600px) and (min-width: 411px) {
  .encabezado div.container-fluid {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .encabezado div.container-fluid .header__logo {
    width: 15%;
    height: auto;
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .encabezado div.container-fluid a.header__nav--titleStyle {
    font-size: 1.7rem;
    letter-spacing: 3px;
    margin-left: 0rem;
    -ms-flex-item-align: left;
        -ms-grid-row-align: left;
        align-self: left;
  }
  .encabezado div.container-fluid a.header__nav--titleStyleB {
    display: none;
  }
  .encabezado div.container-fluid div.header__nav--listStyle {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 5%;
  }
}

@media only screen and (max-width: 410px) {
  .encabezado div.container-fluid {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 0%;
  }
  .encabezado div.container-fluid .header__logo {
    width: 20%;
    height: auto;
    position: relative;
  }
  .encabezado div.container-fluid a.header__nav--titleStyle {
    display: none;
  }
  .encabezado div.container-fluid a.header__nav--titleStyleB {
    font-size: 2.2rem;
    letter-spacing: 3px;
  }
}

@media only screen and (max-width: 250px) {
  .encabezado div.container-fluid {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 0%;
  }
  .encabezado div.container-fluid .header__logo {
    width: 20%;
    height: auto;
    position: relative;
  }
  .encabezado div.container-fluid a.header__nav--titleStyle {
    display: none;
  }
  .encabezado div.container-fluid a.header__nav--titleStyleB {
    display: none;
  }
}
/*# sourceMappingURL=estilosHeader.css.map */