@media only screen and (min-width: 1200px) {
  .encabezado {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(68%, transparent), to(rgba(0, 0, 0, 0.4)));
    background-image: linear-gradient(transparent 68%, rgba(0, 0, 0, 0.4));
    position: relative;
    z-index: 20;
  }
  .encabezado .header__logo {
    width: 6%;
    height: auto;
    position: relative;
    margin: 0% 0% 0% 2%;
  }
  .encabezado .header__nav--titleStyle {
    letter-spacing: 4px;
    margin-left: 5rem;
    margin-right: 5rem;
    font-weight: bold;
    font-size: 1.6rem;
  }
  .encabezado .header__nav--titleStyleB {
    display: none;
  }
  .encabezado div.header__nav--listStyle {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  .encabezado div.header__nav--listStyle ul li.nav-item {
    color: #f8f9fa;
    background-color: transparent;
  }
  .encabezado div.header__nav--listStyle ul li.nav-item a {
    color: #5b5b5b;
  }
  .encabezado div.header__nav--listStyle ul li.nav-item:hover {
    color: #f8f9fa;
    background-color: #5b5b5b;
    -webkit-transition: color, 1s;
    transition: color, 1s;
    -webkit-transform: scaleX(1.1);
            transform: scaleX(1.1);
  }
  .encabezado div.header__nav--listStyle ul li.nav-item:hover a:hover {
    color: #f8f9fa;
  }
  .encabezado div.header__nav--listStyle ul ul.dropdown-menu li {
    background-color: #f8f9fa;
  }
  .encabezado div.header__nav--listStyle ul ul.dropdown-menu li a.dropdown-item {
    color: #5b5b5b;
  }
  .encabezado div.header__nav--listStyle ul ul.dropdown-menu li:hover a.dropdown-item {
    color: #5b5b5b;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 1000px) {
  .encabezado {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(68%, transparent), to(rgba(0, 0, 0, 0.4)));
    background-image: linear-gradient(transparent 68%, rgba(0, 0, 0, 0.4));
    position: relative;
    z-index: 20;
  }
  .encabezado .header__logo {
    width: 6%;
    height: auto;
    position: relative;
    margin: 0% 0% 0% 1%;
  }
  .encabezado .header__nav--titleStyle {
    letter-spacing: 3px;
    margin-left: 4rem;
    margin-right: 2rem;
    font-weight: bold;
    font-size: 1.3rem;
  }
  .encabezado .header__nav--titleStyleB {
    display: none;
  }
  .encabezado div.header__nav--listStyle {
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-left: 0%;
  }
}

@media only screen and (max-width: 999px) and (min-width: 901px) {
  .encabezado {
    position: relative;
    z-index: 20;
  }
  .encabezado .header__logo {
    width: 6%;
    height: auto;
    position: relative;
    margin: 0% 0% 0% 1%;
  }
  .encabezado .header__nav--titleStyle {
    letter-spacing: 3px;
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: 630;
    font-size: 2rem;
  }
  .encabezado .header__nav--titleStyleB {
    display: none;
  }
  .encabezado div.header__nav--listStyle {
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-left: 1rem;
    margin-top: 1%;
    border-top: solid 0.5px #dad6d6;
  }
  .encabezado div.header__nav--listStyle ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .encabezado div.header__nav--listStyle ul li:hover {
    color: #f8f9fa;
    background-color: #5b5b5b;
    -webkit-transition: color, 1s;
    transition: color, 1s;
    width: 10%;
    border-radius: 6%;
    text-align: center;
  }
}

@media only screen and (max-width: 900px) and (min-width: 601px) {
  .encabezado div.container-fluid {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 0%;
  }
  .encabezado div.container-fluid .header__logo {
    width: 8%;
    height: auto;
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .encabezado div.container-fluid a.header__nav--titleStyle {
    font-size: 1.7rem;
    letter-spacing: 3px;
    margin-left: 0rem;
    -ms-flex-item-align: left;
        -ms-grid-row-align: left;
        align-self: left;
  }
  .encabezado div.container-fluid a.header__nav--titleStyleB {
    display: none;
  }
  .encabezado div.container-fluid div.header__nav--listStyle {
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-left: 1rem;
    margin-top: 1%;
    border-top: solid 0.5px #dad6d6;
  }
  .encabezado div.container-fluid div.header__nav--listStyle ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .encabezado div.container-fluid div.header__nav--listStyle ul li:hover {
    color: #f8f9fa;
    background-color: #5b5b5b;
    -webkit-transition: color, 1s;
    transition: color, 1s;
    width: 10%;
    border-radius: 6%;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) and (min-width: 411px) {
  .encabezado div.container-fluid {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .encabezado div.container-fluid .header__logo {
    width: 15%;
    height: auto;
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .encabezado div.container-fluid a.header__nav--titleStyle {
    font-size: 1.7rem;
    letter-spacing: 3px;
    margin-left: 0rem;
    -ms-flex-item-align: left;
        -ms-grid-row-align: left;
        align-self: left;
  }
  .encabezado div.container-fluid a.header__nav--titleStyleB {
    display: none;
  }
  .encabezado div.container-fluid div.header__nav--listStyle {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 5%;
  }
}

@media only screen and (max-width: 410px) {
  .encabezado div.container-fluid {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 0%;
  }
  .encabezado div.container-fluid .header__logo {
    width: 20%;
    height: auto;
    position: relative;
  }
  .encabezado div.container-fluid a.header__nav--titleStyle {
    display: none;
  }
  .encabezado div.container-fluid a.header__nav--titleStyleB {
    font-size: 2.2rem;
    letter-spacing: 3px;
  }
}

@media only screen and (max-width: 250px) {
  .encabezado div.container-fluid {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 0%;
  }
  .encabezado div.container-fluid .header__logo {
    width: 20%;
    height: auto;
    position: relative;
  }
  .encabezado div.container-fluid a.header__nav--titleStyle {
    display: none;
  }
  .encabezado div.container-fluid a.header__nav--titleStyleB {
    display: none;
  }
}

.footer {
  margin-bottom: 0%;
}

.footer .footer__div {
  border: none;
  width: 100vw;
  text-align: center;
}

.footer .footer__div .footer__div--span {
  color: #dad6d6;
}

.footer .footer__nav--style {
  border-bottom-style: ridge;
  width: 100vw;
  position: relative;
  z-index: 20;
  margin-left: 0%;
}

.footer .footer__nav--style h3 {
  font-size: 2rem;
  margin: 0%;
  letter-spacing: 4px;
  font-weight: bold;
}

.footer .footer__nav--style li.foot {
  margin-left: 8%;
}

.footer .footer__nav--style li.location {
  list-style-image: url(../assets/iconos/locacion.png);
}

.footer .footer__nav--style li.mail {
  list-style-image: url(../assets/iconos/mail.png);
}

.footer .footer__nav--style li.phone {
  list-style-image: url(../assets/iconos/whatsapp.png);
}

.footer .footer__nav--style li.foot--redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0% 2% 0% -1%;
}

.footer .footer__nav--style li.foot--redes a.imgRedes {
  margin: 0%;
}

@media only screen and (max-width: 600px) and (min-width: 411px) {
  .footer .footer__nav--style {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .footer__nav--style h3 {
    text-align: center;
    margin-right: 5%;
  }
  .footer .footer__nav--style li.foot {
    margin-left: 8%;
    font-size: 1rem;
    padding-top: 1%;
  }
  .footer .footer__nav--style li.foot--redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0% 2% 0% -1%;
  }
  .footer .footer__nav--style li.foot--redes a.imgRedes {
    margin: 0%;
  }
  .footer .footer__div {
    display: none;
  }
}

@media only screen and (max-width: 410px) {
  .footer .footer__nav--style {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__nav--style h3 {
    text-align: center;
    margin: 0%;
  }
  .footer .footer__nav--style li.foot {
    margin-left: 15%;
    font-size: 0.9rem;
    padding-top: 5%;
  }
  .footer .footer__nav--style li.foot a {
    width: 90vw;
  }
  .footer .footer__nav--style li.foot--redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0% 2% 0% -1%;
  }
  .footer .footer__nav--style li.foot--redes a.imgRedes {
    margin: 0%;
  }
  .footer .footer__div {
    display: none;
  }
}

@media only screen and (max-width: 250px) {
  .footer .footer__nav--style li.foot {
    margin-left: 25%;
    font-size: 0.6rem;
    padding-top: 5%;
  }
  .footer .footer__nav--style li.foot--redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0% 2% 0% -1%;
  }
  .footer .footer__nav--style li.foot--redes a.imgRedes {
    margin: 0%;
  }
}
body {
  font-family: "Poppins", "Roboto", sans-serif;
}

@media only screen and (max-width: 900px) and (min-width: 601px) {
  .seccionPrincipal .imgPpal {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    margin-top: 0%;
    width: 100vw;
  }
  .seccionPrincipal div {
    width: 100vw;
    height: auto;
  }
  .seccionPrincipal .articuloEscuela {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    background-color: #f8f9fa;
    border-top-style: solid;
    border-top-width: 1rem;
    border-top-color: lightcyan;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(45%, transparent), to(#dad6d6));
    background-image: linear-gradient(to top, transparent 45%, #dad6d6);
  }
  .seccionPrincipal .articuloEscuela h1 {
    width: 95vw;
    word-spacing: 5px;
    letter-spacing: 6.5px;
    text-align: center;
    margin-left: 2rem;
    font-weight: bold;
    padding: 1rem;
    border-top: solid 3px #100a6c;
    text-shadow: 0px 0px 2px #100a6c;
  }
  .seccionPrincipal .articuloEscuela p {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.25rem;
    text-align: justify;
    margin: -1rem 10% 2rem 10%;
  }
  .seccionPrincipal .articuloCapacitacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    margin-bottom: 5%;
  }
  .seccionPrincipal .articuloCapacitacion p.articuloCapacitacion__parrafo {
    text-align: justify;
    width: 90vw;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin-left: 3%;
    font-size: 1.4rem;
    margin-bottom: 5%;
  }
  .seccionPrincipal .articuloCapacitacion h2.articuloCapacitacion__titulo {
    width: 90vw;
    color: black;
    font-size: 2.2rem;
    word-spacing: 5px;
    letter-spacing: 6.5px;
    text-align: left;
    margin-left: 2rem;
    font-weight: bold;
    padding: 2rem;
    border-top: solid 1px #100a6c;
    text-shadow: 0px 0px 2px #100a6c;
  }
  .seccionPrincipal .articuloCapacitacion .articuloCapacitacion__div {
    padding: 0% 3% 0% 10%;
  }
  .seccionPrincipal .articuloCapacitacion .articuloCapacitacion__div .articuloCapacitacion__div--lista {
    list-style-type: none;
    padding: 2% 0% 0% 4%;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 2px;
  }
  .seccionPrincipal .articuloCapacitacion .articuloCapacitacion__div .articuloCapacitacion--lista--sub {
    list-style-type: none;
    font-size: large;
    letter-spacing: 2px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 401px) {
  .seccionPrincipal .imgPpal {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    margin-top: 0%;
    width: 100vw;
  }
  .seccionPrincipal div {
    width: 100vw;
    height: auto;
  }
  .seccionPrincipal .articuloEscuela {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    background-color: #f8f9fa;
    border-top-style: solid;
    border-top-width: 1rem;
    border-top-color: lightcyan;
  }
  .seccionPrincipal .articuloEscuela h1 {
    border-top: solid 3px #100a6c;
    text-align: center;
    font-size: 2.2rem;
    padding: 2%;
    font-weight: 500;
    letter-spacing: 4px;
    text-shadow: 0px 0px 2px #100a6c;
  }
  .seccionPrincipal .articuloEscuela p {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.4rem;
    text-align: justify;
    margin: 0rem 7% 2rem 7%;
  }
  .seccionPrincipal .articuloCapacitacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    margin-bottom: 5%;
  }
  .seccionPrincipal .articuloCapacitacion p.articuloCapacitacion__parrafo {
    text-align: justify;
    width: 90vw;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin-left: 5%;
    font-size: 1.4rem;
    margin: -5% 5% 5% 5%;
    padding: 2%;
  }
  .seccionPrincipal .articuloCapacitacion h2.articuloCapacitacion__titulo {
    width: 90vw;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.6rem;
    word-spacing: 5px;
    letter-spacing: 6.5px;
    text-align: left;
    margin-left: 2rem;
    font-weight: bold;
    padding: 1rem;
    border-top: solid 1px #100a6c;
    text-shadow: 0px 0px 2px #100a6c;
  }
  .seccionPrincipal .articuloCapacitacion div.carousel {
    display: none;
  }
  .seccionPrincipal .articuloCapacitacion .articuloCapacitacion__div {
    padding: 0% 3% 0% 10%;
  }
  .seccionPrincipal .articuloCapacitacion .articuloCapacitacion__div .articuloCapacitacion__div--lista {
    list-style-type: none;
    padding: 2% 0% 0% 4%;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 2px;
  }
  .seccionPrincipal .articuloCapacitacion .articuloCapacitacion__div .articuloCapacitacion--lista--sub {
    list-style-type: none;
    font-size: large;
    letter-spacing: 2px;
  }
}

@media only screen and (max-width: 400px) and (min-width: 151px) {
  .seccionPrincipal .imgPpal {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    margin-top: 0%;
    width: 100vw;
  }
  .seccionPrincipal div {
    width: 96vw;
    height: auto;
  }
  .seccionPrincipal .articuloEscuela {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    background-color: #f8f9fa;
    border-top-style: solid;
    border-top-width: 1rem;
    border-top-color: lightcyan;
  }
  .seccionPrincipal .articuloEscuela h1 {
    width: 95vw;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.6rem;
    word-spacing: 5px;
    letter-spacing: 6.5px;
    text-align: left;
    margin-left: 5%;
    font-weight: bold;
    padding: 5%;
    border-top: solid 3px #100a6c;
    text-shadow: 0px 0px 2px #100a6c;
  }
  .seccionPrincipal .articuloEscuela p {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.8rem;
    text-align: justify;
    margin: -1rem 7% 2rem 7%;
  }
  .seccionPrincipal .articuloCapacitacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    margin-bottom: 5%;
  }
  .seccionPrincipal .articuloCapacitacion p.articuloCapacitacion__parrafo {
    text-align: justify;
    width: 90vw;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin-left: 5%;
    font-size: 0.8rem;
    margin: -5% 5% 5% 5%;
    padding: 2%;
  }
  .seccionPrincipal .articuloCapacitacion h2.articuloCapacitacion__titulo {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 1%;
    font-weight: bold;
    width: 95vw;
    font-size: 1.2rem;
    word-spacing: 5px;
    letter-spacing: 1.5px;
    text-align: left;
    padding: 1rem 0% 0% 1rem;
    border-top: solid 1px #100a6c;
    text-shadow: 0px 0px 2px #100a6c;
  }
  .seccionPrincipal .articuloCapacitacion div.carousel {
    display: none;
  }
  .seccionPrincipal .articuloCapacitacion .articuloCapacitacion__div {
    padding: 0% 3% 0% 10%;
  }
  .seccionPrincipal .articuloCapacitacion .articuloCapacitacion__div .articuloCapacitacion__div--lista {
    list-style-type: none;
    padding: 2% 0% 0% 4%;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 2px;
    border-bottom: solid 2px;
    width: 40vw;
  }
  .seccionPrincipal .articuloCapacitacion .articuloCapacitacion__div .articuloCapacitacion--lista--sub {
    list-style-type: none;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-left: -10%;
    margin-bottom: 10%;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", "Roboto", sans-serif;
}

@media only screen and (min-width: 901px) {
  .seccionPrincipal .imgPpal {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    margin-top: 0rem;
    width: 100vw;
  }
  .seccionPrincipal .articuloEscuela {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    background-color: #f8f9fa;
    border-top-style: solid;
    border-top-width: 1rem;
    border-top-color: lightcyan;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(45%, transparent), to(#dad6d6));
    background-image: linear-gradient(to top, transparent 45%, #dad6d6);
  }
  .seccionPrincipal .articuloEscuela h1 {
    width: 55vw;
    color: black;
    font-size: 2rem;
    word-spacing: 5px;
    letter-spacing: 6.5px;
    text-align: left;
    margin-left: 2rem;
    font-weight: bold;
    padding: 2rem;
    border-top: solid 3px #100a6c;
    text-shadow: 0px 0px 2px #100a6c;
  }
  .seccionPrincipal .articuloEscuela p {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.4rem;
    text-align: justify;
    margin: -1rem 10% 2rem 10%;
  }
  .seccionPrincipal div {
    width: 48vw;
    height: auto;
  }
  .seccionPrincipal div img {
    -ms-grid-column-align: end;
        justify-self: end;
    height: auto;
    margin-right: 5rem;
    border: solid 5px #f8f9fa;
    position: relative;
  }
  .seccionPrincipal .articuloCapacitacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(45%, transparent), to(#dad6d6));
    background-image: linear-gradient(transparent 45%, #dad6d6);
  }
  .seccionPrincipal .articuloCapacitacion p.articuloCapacitacion__parrafo {
    text-align: justify;
    width: 40vw;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin-left: 10%;
    font-size: 1.4rem;
    margin-bottom: 5%;
  }
  .seccionPrincipal .articuloCapacitacion h2.articuloCapacitacion__titulo {
    width: 45vw;
    color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    word-spacing: 5px;
    letter-spacing: 6.5px;
    text-align: left;
    margin-left: 2rem;
    font-weight: bold;
    padding: 2rem 1rem 0rem 2rem;
    border-top: solid 1px #100a6c;
    text-shadow: 0px 0px 2px #100a6c;
  }
  .seccionPrincipal .articuloCapacitacion .articuloCapacitacion__div {
    padding: 0% 3% 0% 10%;
  }
  .seccionPrincipal .articuloCapacitacion .articuloCapacitacion__div .articuloCapacitacion__div--lista {
    list-style-type: none;
    padding: 2% 0% 0% 4%;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 2px;
  }
  .seccionPrincipal .articuloCapacitacion .articuloCapacitacion__div .articuloCapacitacion--lista--sub {
    list-style-type: none;
    font-size: large;
    letter-spacing: 2px;
  }
  .seccionPrincipal .articuloCapacitacion .texto-carousel {
    position: absolute;
    bottom: 4.25rem;
    left: 20%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    margin-bottom: -12%;
    width: auto;
  }
  .seccionPrincipal .articuloCapacitacion .carousel-flecha {
    margin-top: -30%;
  }
}
/*# sourceMappingURL=estilosEscuela.css.map */