@media only screen and (min-width: 1200px) {
  .encabezado {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(68%, transparent), to(rgba(0, 0, 0, 0.4)));
    background-image: linear-gradient(transparent 68%, rgba(0, 0, 0, 0.4));
    position: relative;
    z-index: 20;
  }
  .encabezado .header__logo {
    width: 6%;
    height: auto;
    position: relative;
    margin: 0% 0% 0% 2%;
  }
  .encabezado .header__nav--titleStyle {
    letter-spacing: 4px;
    margin-left: 5rem;
    margin-right: 5rem;
    font-weight: bold;
    font-size: 1.6rem;
  }
  .encabezado .header__nav--titleStyleB {
    display: none;
  }
  .encabezado div.header__nav--listStyle {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  .encabezado div.header__nav--listStyle ul li.nav-item {
    color: #f8f9fa;
    background-color: transparent;
  }
  .encabezado div.header__nav--listStyle ul li.nav-item a {
    color: #5b5b5b;
  }
  .encabezado div.header__nav--listStyle ul li.nav-item:hover {
    color: #f8f9fa;
    background-color: #5b5b5b;
    -webkit-transition: color, 1s;
    transition: color, 1s;
    -webkit-transform: scaleX(1.1);
            transform: scaleX(1.1);
  }
  .encabezado div.header__nav--listStyle ul li.nav-item:hover a:hover {
    color: #f8f9fa;
  }
  .encabezado div.header__nav--listStyle ul ul.dropdown-menu li {
    background-color: #f8f9fa;
  }
  .encabezado div.header__nav--listStyle ul ul.dropdown-menu li a.dropdown-item {
    color: #5b5b5b;
  }
  .encabezado div.header__nav--listStyle ul ul.dropdown-menu li:hover a.dropdown-item {
    color: #5b5b5b;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 1000px) {
  .encabezado {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(68%, transparent), to(rgba(0, 0, 0, 0.4)));
    background-image: linear-gradient(transparent 68%, rgba(0, 0, 0, 0.4));
    position: relative;
    z-index: 20;
  }
  .encabezado .header__logo {
    width: 6%;
    height: auto;
    position: relative;
    margin: 0% 0% 0% 1%;
  }
  .encabezado .header__nav--titleStyle {
    letter-spacing: 3px;
    margin-left: 4rem;
    margin-right: 2rem;
    font-weight: bold;
    font-size: 1.3rem;
  }
  .encabezado .header__nav--titleStyleB {
    display: none;
  }
  .encabezado div.header__nav--listStyle {
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-left: 0%;
  }
}

@media only screen and (max-width: 999px) and (min-width: 901px) {
  .encabezado {
    position: relative;
    z-index: 20;
  }
  .encabezado .header__logo {
    width: 6%;
    height: auto;
    position: relative;
    margin: 0% 0% 0% 1%;
  }
  .encabezado .header__nav--titleStyle {
    letter-spacing: 3px;
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: 630;
    font-size: 2rem;
  }
  .encabezado .header__nav--titleStyleB {
    display: none;
  }
  .encabezado div.header__nav--listStyle {
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-left: 1rem;
    margin-top: 1%;
    border-top: solid 0.5px #dad6d6;
  }
  .encabezado div.header__nav--listStyle ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .encabezado div.header__nav--listStyle ul li:hover {
    color: #f8f9fa;
    background-color: #5b5b5b;
    -webkit-transition: color, 1s;
    transition: color, 1s;
    width: 10%;
    border-radius: 6%;
    text-align: center;
  }
}

@media only screen and (max-width: 900px) and (min-width: 601px) {
  .encabezado div.container-fluid {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 0%;
  }
  .encabezado div.container-fluid .header__logo {
    width: 8%;
    height: auto;
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .encabezado div.container-fluid a.header__nav--titleStyle {
    font-size: 1.7rem;
    letter-spacing: 3px;
    margin-left: 0rem;
    -ms-flex-item-align: left;
        -ms-grid-row-align: left;
        align-self: left;
  }
  .encabezado div.container-fluid a.header__nav--titleStyleB {
    display: none;
  }
  .encabezado div.container-fluid div.header__nav--listStyle {
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-left: 1rem;
    margin-top: 1%;
    border-top: solid 0.5px #dad6d6;
  }
  .encabezado div.container-fluid div.header__nav--listStyle ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .encabezado div.container-fluid div.header__nav--listStyle ul li:hover {
    color: #f8f9fa;
    background-color: #5b5b5b;
    -webkit-transition: color, 1s;
    transition: color, 1s;
    width: 10%;
    border-radius: 6%;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) and (min-width: 411px) {
  .encabezado div.container-fluid {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .encabezado div.container-fluid .header__logo {
    width: 15%;
    height: auto;
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .encabezado div.container-fluid a.header__nav--titleStyle {
    font-size: 1.7rem;
    letter-spacing: 3px;
    margin-left: 0rem;
    -ms-flex-item-align: left;
        -ms-grid-row-align: left;
        align-self: left;
  }
  .encabezado div.container-fluid a.header__nav--titleStyleB {
    display: none;
  }
  .encabezado div.container-fluid div.header__nav--listStyle {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 5%;
  }
}

@media only screen and (max-width: 410px) {
  .encabezado div.container-fluid {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 0%;
  }
  .encabezado div.container-fluid .header__logo {
    width: 20%;
    height: auto;
    position: relative;
  }
  .encabezado div.container-fluid a.header__nav--titleStyle {
    display: none;
  }
  .encabezado div.container-fluid a.header__nav--titleStyleB {
    font-size: 2.2rem;
    letter-spacing: 3px;
  }
}

@media only screen and (max-width: 250px) {
  .encabezado div.container-fluid {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 0%;
  }
  .encabezado div.container-fluid .header__logo {
    width: 20%;
    height: auto;
    position: relative;
  }
  .encabezado div.container-fluid a.header__nav--titleStyle {
    display: none;
  }
  .encabezado div.container-fluid a.header__nav--titleStyleB {
    display: none;
  }
}

.footer {
  margin-bottom: 0%;
}

.footer .footer__div {
  border: none;
  width: 100vw;
  text-align: center;
}

.footer .footer__div .footer__div--span {
  color: #dad6d6;
}

.footer .footer__nav--style {
  border-bottom-style: ridge;
  width: 100vw;
  position: relative;
  z-index: 20;
  margin-left: 0%;
}

.footer .footer__nav--style h3 {
  font-size: 2rem;
  margin: 0%;
  letter-spacing: 4px;
  font-weight: bold;
}

.footer .footer__nav--style li.foot {
  margin-left: 8%;
}

.footer .footer__nav--style li.location {
  list-style-image: url(../assets/iconos/locacion.png);
}

.footer .footer__nav--style li.mail {
  list-style-image: url(../assets/iconos/mail.png);
}

.footer .footer__nav--style li.phone {
  list-style-image: url(../assets/iconos/whatsapp.png);
}

.footer .footer__nav--style li.foot--redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0% 2% 0% -1%;
}

.footer .footer__nav--style li.foot--redes a.imgRedes {
  margin: 0%;
}

@media only screen and (max-width: 600px) and (min-width: 411px) {
  .footer .footer__nav--style {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .footer__nav--style h3 {
    text-align: center;
    margin-right: 5%;
  }
  .footer .footer__nav--style li.foot {
    margin-left: 8%;
    font-size: 1rem;
    padding-top: 1%;
  }
  .footer .footer__nav--style li.foot--redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0% 2% 0% -1%;
  }
  .footer .footer__nav--style li.foot--redes a.imgRedes {
    margin: 0%;
  }
  .footer .footer__div {
    display: none;
  }
}

@media only screen and (max-width: 410px) {
  .footer .footer__nav--style {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__nav--style h3 {
    text-align: center;
    margin: 0%;
  }
  .footer .footer__nav--style li.foot {
    margin-left: 15%;
    font-size: 0.9rem;
    padding-top: 5%;
  }
  .footer .footer__nav--style li.foot a {
    width: 90vw;
  }
  .footer .footer__nav--style li.foot--redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0% 2% 0% -1%;
  }
  .footer .footer__nav--style li.foot--redes a.imgRedes {
    margin: 0%;
  }
  .footer .footer__div {
    display: none;
  }
}

@media only screen and (max-width: 250px) {
  .footer .footer__nav--style li.foot {
    margin-left: 25%;
    font-size: 0.6rem;
    padding-top: 5%;
  }
  .footer .footer__nav--style li.foot--redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0% 2% 0% -1%;
  }
  .footer .footer__nav--style li.foot--redes a.imgRedes {
    margin: 0%;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
}

.seccionContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(45%, transparent), to(#dad6d6));
  background-image: linear-gradient(transparent 45%, #dad6d6);
}

.seccionContacto div {
  margin: 0;
  padding: 0;
}

.seccionContacto div iframe.mapa {
  display: block;
  width: 50vw;
  border: none;
}

.seccionContacto .articuloContacto {
  display: block;
  position: relative;
  z-index: 20;
  padding: 5% 2%;
  border-radius: 2%;
  width: 50vw;
}

.seccionContacto .articuloContacto div.mb-3 {
  margin-top: 10%;
}

.seccionContacto .articuloContacto div.mb-3 .form-label {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  text-shadow: 0px 0px 2px #100a6c;
}

.seccionContacto .articuloContacto div.mb-3 .formControl {
  margin: 2%;
  padding: 2%;
}

.seccionContacto .articuloContacto .articuloContacto__textButton .articuloContacto__textButton--button {
  margin: 1rem;
  padding-left: 19vw;
}

@media only screen and (max-width: 900px) and (min-width: 601px) {
  .seccionContacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .seccionContacto div {
    margin: 0;
    padding: 0;
  }
  .seccionContacto div iframe.mapa {
    display: block;
    width: 100vw;
    border: none;
  }
  .seccionContacto .articuloContacto {
    position: relative;
    padding: 5%;
    background: #dad6d6;
    width: 100vw;
  }
  .seccionContacto .articuloContacto div.mb-3 {
    margin-top: 1%;
  }
  .seccionContacto .articuloContacto div.mb-3 .form-label {
    margin-bottom: 0.5rem;
    padding-left: 35vw;
    font-size: 1.1rem;
    text-shadow: 0px 0px 2px #100a6c;
  }
  .seccionContacto .articuloContacto div.mb-3 .formControl {
    margin: 2%;
    padding: 2%;
  }
  .seccionContacto .articuloContacto .articuloContacto__textButton .articuloContacto__textButton--button {
    margin: 2% 25%;
  }
}

@media only screen and (max-width: 600px) and (min-width: 201px) {
  .seccionContacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .seccionContacto div {
    margin: 0;
    padding: 0;
  }
  .seccionContacto div iframe.mapa {
    display: block;
    width: 100vw;
    border: none;
  }
  .seccionContacto .articuloContacto {
    position: relative;
    padding: 5%;
    background: #dad6d6;
    width: 100vw;
  }
  .seccionContacto .articuloContacto div.mb-3 {
    margin-top: 10%;
  }
  .seccionContacto .articuloContacto div.mb-3 .form-label {
    margin-bottom: 0.5rem;
    padding-left: 2vw;
    font-size: 1.1rem;
    text-shadow: 0px 0px 2px #100a6c;
  }
  .seccionContacto .articuloContacto div.mb-3 .formControl {
    margin: 2%;
    padding: 2%;
  }
  .seccionContacto .articuloContacto .articuloContacto__textButton .articuloContacto__textButton--button {
    margin: 2% 42% 8% 42%;
    padding: 0%;
  }
}

@media only screen and (max-width: 200px) {
  .seccionContacto div iframe.mapa {
    display: none;
  }
  .seccionContacto .articuloContacto {
    padding: 4%;
    background: #dad6d6;
    width: 100vw;
  }
  .seccionContacto .articuloContacto .articuloContacto__textButton .articuloContacto__textButton--button {
    margin: 2% 42% 8% 42%;
    padding: 0%;
  }
}
/*# sourceMappingURL=estilosContacto.css.map */