$base-font-size: 1.3rem;
$title-header: 1.7rem;

@media only screen and (min-width: 1200px) {
  .encabezado {
    background-image: linear-gradient(transparent 68%, rgba(0, 0, 0, 0.4));
    position: relative;
    z-index: 20;

    .header__logo {
      width: 6%;
      height: auto;
      position: relative;
      margin: 0% 0% 0% 2%;
    }
    .header__nav--titleStyle {
      letter-spacing: 4px;
      margin-left: 5rem;
      margin-right: 5rem;
      font-weight: bold;
      font-size: 1.6rem;
    }
    .header__nav--titleStyleB {
      display: none;
    }
    div.header__nav--listStyle {
      font-size: 1.2rem;
      letter-spacing: 1px;
      // margin-left: 3rem;
      ul {
        li.nav-item {
          color: #f8f9fa;
          background-color: transparent;
          a {
            color: #5b5b5b;
          }
        }
        li.nav-item:hover {
          color: #f8f9fa;
          background-color: #5b5b5b;
          transition: color, 1s;
          transform: scaleX(1.1);
          a:hover {
            color: #f8f9fa;
          }
        }
        ul.dropdown-menu {
          li {
            background-color: #f8f9fa;
            a.dropdown-item {
              color: #5b5b5b;
            }
          }
          li:hover {
            a.dropdown-item {
              color: #5b5b5b;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1199px) and (min-width: 1000px) {
  .encabezado {
    background-image: linear-gradient(transparent 68%, rgba(0, 0, 0, 0.4));
    position: relative;
    z-index: 20;

    .header__logo {
      width: 6%;
      height: auto;
      position: relative;
      margin: 0% 0% 0% 1%;
    }
    .header__nav--titleStyle {
      letter-spacing: 3px;
      margin-left: 4rem;
      margin-right: 2rem;
      font-weight: bold;
      font-size: 1.3rem;
    }
    .header__nav--titleStyleB {
      display: none;
    }
    div.header__nav--listStyle {
      font-size: 1.1rem;
      letter-spacing: 1px;
      margin-left: 0%;

      // ul {
      //   li:hover {
      //     color: #f8f9fa;
      //     background-color: #5b5b5b;
      //     transition: color, 1s;
      //   }
      // }
    }
  }
}

@media only screen and (max-width: 999px) and (min-width: 901px) {
  .encabezado {
    // background-image: linear-gradient(transparent 68%, rgba(0, 0, 0, 0.4));
    position: relative;
    z-index: 20;

    .header__logo {
      width: 6%;
      height: auto;
      position: relative;
      margin: 0% 0% 0% 1%;
    }
    .header__nav--titleStyle {
      letter-spacing: 3px;
      margin-left: 2rem;
      margin-right: 2rem;
      font-weight: 630;
      font-size: 2rem;
    }
    .header__nav--titleStyleB {
      display: none;
    }
    div.header__nav--listStyle {
      font-size: 1.1rem;
      letter-spacing: 1px;
      margin-left: 1rem;
      margin-top: 1%;
      border-top: solid 0.5px #dad6d6;
      ul {
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        justify-content: space-around;
        li:hover {
          color: #f8f9fa;
          background-color: #5b5b5b;
          transition: color, 1s;
          width: 10%;
          border-radius: 6%;
          text-align: center;
        }
      }
    }
  }
}
@media only screen and (max-width: 900px) and (min-width: 601px) {
  .encabezado {
    div.container-fluid {
      justify-content: space-evenly;
      margin-left: 0%;

      .header__logo {
        width: 8%;
        height: auto;
        position: relative;
        align-self: center;
      }
      a.header__nav--titleStyle {
        font-size: $title-header;
        letter-spacing: 3px;
        margin-left: 0rem;
        align-self: left;
      }
      a.header__nav--titleStyleB {
        display: none;
      }
      div.header__nav--listStyle {
        font-size: 1.1rem;
        letter-spacing: 1px;
        margin-left: 1rem;
        margin-top: 1%;
        border-top: solid 0.5px #dad6d6;
        ul {
          flex-direction: row;
          padding-left: 0;
          margin-bottom: 0;
          list-style: none;
          justify-content: space-around;
          li:hover {
            color: #f8f9fa;
            background-color: #5b5b5b;
            transition: color, 1s;
            width: 10%;
            border-radius: 6%;
            text-align: center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) and (min-width: 411px) {
  .encabezado {
    div.container-fluid {
      justify-content: space-evenly;
      margin-left: 0%;
      flex-direction: column;
      .header__logo {
        width: 15%;
        height: auto;
        position: relative;
        align-self: center;
      }
      a.header__nav--titleStyle {
        font-size: $title-header;
        letter-spacing: 3px;
        margin-left: 0rem;
        align-self: left;
      }
      a.header__nav--titleStyleB {
        display: none;
      }
      div.header__nav--listStyle {
        align-self: flex-start;
        margin-left: 5%;
      }
    }
  }
}

@media only screen and (max-width: 410px) {
  .encabezado {
    div.container-fluid {
      justify-content: space-evenly;
      margin-left: 0%;
      .header__logo {
        width: 20%;
        height: auto;
        position: relative;
      }
      a.header__nav--titleStyle {
        display: none;
      }
      a.header__nav--titleStyleB {
        font-size: 2.2rem;
        letter-spacing: 3px;
      }
    }
  }
}
@media only screen and (max-width: 250px) {
  .encabezado {
    div.container-fluid {
      justify-content: space-evenly;
      margin-left: 0%;
      .header__logo {
        width: 20%;
        height: auto;
        position: relative;
      }
      a.header__nav--titleStyle {
        display: none;
      }
      a.header__nav--titleStyleB {
        display: none;
      }
    }
  }
}
