$title-font-size: 3.2rem;
$parrafo-font-size: 1.4rem;
$background-school: #dad6d6;
$body-color: #f8f9fa;
$shadows: 0px 0px 2px rgb(16, 10, 108);
$colorSegundo: rgb(16, 10, 108);
$text-color: rgba(0, 0, 0, 0.5);
$text-color-complement: #f8f9fa;

body {
  font-family: "Poppins", "Roboto", sans-serif;
}

@media only screen and (max-width: 900px) and (min-width: 601px) {
  .seccionPrincipal {
    .imgPpal {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
      justify-content: stretch;
      margin-top: 0%;
      width: 100vw;
    }
    div {
      width: 100vw;
      height: auto;
    }
    .articuloEscuela {
      justify-content: stretch;
      background-color: $body-color;
      border-top-style: solid;
      border-top-width: 3px;
      border-top-color: lightcyan;
      background-image: linear-gradient(
        to top,
        transparent 45%,
        $background-school
      );
      h1 {
        width: 95vw;
        word-spacing: 5px;
        letter-spacing: 6.5px;
        text-align: center;
        margin-left: 2rem;
        font-weight: bold;
        padding: 1rem;
        border-top: solid 3px $colorSegundo;
        text-shadow: $shadows;
      }
      p {
        font-family: "Quicksand", "roboto", sans-serif;
        align-items: center;
        font-size: $parrafo-font-size - 0.15rem;
        text-align: justify;
        margin: -1rem 10% 2rem 10%;
      }
    }
    .articuloCapacitacion {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      margin-bottom: 5%;
      p.articuloCapacitacion__parrafo {
        font-family: "Quicksand", "roboto", sans-serif;
        text-align: justify;
        width: 90vw;
        align-self: start;
        margin-left: 3%;
        font-size: $parrafo-font-size;
        margin-bottom: 5%;
      }
      h2.articuloCapacitacion__titulo {
        width: 90vw;
        color: black;
        font-size: $title-font-size - 1rem;
        word-spacing: 5px;
        letter-spacing: 6.5px;
        text-align: left;
        margin-left: 2rem;
        font-weight: bold;
        padding: 2rem;
        border-top: solid 1px $colorSegundo;
        text-shadow: $shadows;
      }
      .articuloCapacitacion__div {
        padding: 0% 3% 0% 10%;

        .articuloCapacitacion__div--lista {
          list-style-type: none;
          padding: 2% 0% 0% 4%;
          font-size: 22px;
          color: rgba(0, 0, 0, 0.6);
          letter-spacing: 2px;
        }
        .articuloCapacitacion--lista--sub {
          list-style-type: none;
          font-size: large;
          letter-spacing: 2px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) and (min-width: 401px) {
  .seccionPrincipal {
    .imgPpal {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
      justify-content: stretch;
      margin-top: 0%;
      width: 100vw;
    }
    div {
      width: 100vw;
      height: auto;
    }
    .articuloEscuela {
      justify-content: stretch;
      background-color: $body-color;
      border-top-style: solid;
      border-top-width: 3px;
      border-top-color: lightcyan;
      h1 {
        border-top: solid 3px $colorSegundo;
        text-align: center;
        font-size: $title-font-size - 1rem;
        padding: 2%;
        font-weight: 500;
        letter-spacing: 4px;
        text-shadow: $shadows;
      }
      p {
        font-family: "Quicksand", "roboto", sans-serif;
        align-items: center;
        font-size: $parrafo-font-size;
        text-align: justify;
        margin: 0rem 7% 2rem 7%;
      }
    }
    .articuloCapacitacion {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      margin-bottom: 5%;
      p.articuloCapacitacion__parrafo {
        font-family: "Quicksand", "roboto", sans-serif;
        text-align: justify;
        width: 90vw;
        align-self: start;
        margin-left: 5%;
        font-size: $parrafo-font-size;
        margin: -5% 5% 5% 5%;
        padding: 2%;
      }
      h2.articuloCapacitacion__titulo {
        width: 90vw;
        color: $text-color;
        font-size: 1.6rem;
        word-spacing: 5px;
        letter-spacing: 6.5px;
        text-align: left;
        margin-left: 2rem;
        font-weight: bold;
        padding: 1rem;
        border-top: solid 1px $colorSegundo;
        text-shadow: $shadows;
      }
      div.carousel {
        display: none;
      }
      .articuloCapacitacion__div {
        padding: 0% 3% 0% 10%;

        .articuloCapacitacion__div--lista {
          list-style-type: none;
          padding: 2% 0% 0% 4%;
          font-size: 22px;
          color: rgba(0, 0, 0, 0.6);
          letter-spacing: 2px;
        }
        .articuloCapacitacion--lista--sub {
          list-style-type: none;
          font-size: large;
          letter-spacing: 2px;
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) and (min-width: 151px) {
  .seccionPrincipal {
    .imgPpal {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
      justify-content: stretch;
      margin-top: 0%;
      width: 100vw;
    }
    div {
      width: 96vw;
      height: auto;
    }
    .articuloEscuela {
      justify-content: stretch;
      background-color: $body-color;
      border-top-style: solid;
      border-top-width: 3px;
      border-top-color: lightcyan;
      h1 {
        width: 95vw;
        color: $text-color;
        font-size: $title-font-size - 1.6rem;
        word-spacing: 5px;
        letter-spacing: 6.5px;
        text-align: left;
        margin-left: 5%;
        font-weight: bold;
        padding: 5%;
        border-top: solid 3px $colorSegundo;
        text-shadow: $shadows;
      }
      p {
        font-family: "Quicksand", "roboto", sans-serif;
        align-items: center;
        font-size: 0.8rem;
        text-align: justify;
        margin: -1rem 7% 2rem 7%;
      }
    }
    .articuloCapacitacion {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      margin-bottom: 5%;
      p.articuloCapacitacion__parrafo {
        font-family: "Quicksand", "roboto", sans-serif;
        text-align: justify;
        width: 90vw;
        align-self: start;
        margin-left: 5%;
        font-size: 0.8rem;
        margin: -5% 5% 5% 5%;
        padding: 2%;
      }
      h2.articuloCapacitacion__titulo {
        color: $text-color;
        margin-left: 1%;
        font-weight: bold;
        width: 95vw;
        font-size: 1.2rem;
        word-spacing: 5px;
        letter-spacing: 1.5px;
        text-align: left;
        padding: 1rem 0% 0% 1rem;
        border-top: solid 1px $colorSegundo;
        text-shadow: $shadows;
      }
      div.carousel {
        display: none;
      }
      .articuloCapacitacion__div {
        padding: 0% 3% 0% 10%;

        .articuloCapacitacion__div--lista {
          list-style-type: none;
          padding: 2% 0% 0% 4%;
          font-size: 1.1rem;
          color: rgba(0, 0, 0, 0.6);
          letter-spacing: 2px;
          border-bottom: solid 2px;
          width: 40vw;
        }
        .articuloCapacitacion--lista--sub {
          list-style-type: none;
          font-size: 1rem;
          letter-spacing: 2px;
          margin-left: -10%;
          margin-bottom: 10%;
        }
      }
    }
  }
}
